aiobotocore==2.5.2
aiohttp==3.8.5
aioitertools==0.11.0
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.5.0
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
boto3==1.28.0
botocore==1.31.11
Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
cachetools==5.3.1
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.6
contourpy==1.1.0
cycler==0.11.0
dataclasses-json==0.5.14
decorator==5.1.1
EasyProcess==1.1
emoji==2.8.0
entrypoint2==1.1
Faker==19.3.0
favicon==0.7.0
filetype==1.2.0
Flask==2.3.2
fonttools==4.42.0
frozenlist==1.4.0
fsspec==2023.4.0
gitdb==4.0.10
GitPython==3.1.32
greenlet==2.0.2
htbuilder==0.6.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
kiwisolver==1.4.4
langchain==0.0.268
langsmith==0.0.25
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
more-itertools==10.1.0
MouseInfo==0.1.3
mss==9.0.1
multidict==6.0.4
mypy-extensions==1.0.0
nltk==3.8.1
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///croot/numpy_and_numpy_base_1687466208449/work
openai==0.27.8
packaging==23.1
pandas==1.5.3
Pillow==9.5.0
protobuf==4.23.4
pyarrow==12.0.1
pydantic==2.1.1
pydantic_core==2.4.0
pydeck==0.8.0
PyGetWindow==0.0.9
Pygments==2.15.1
pymdown-extensions==10.1
Pympler==1.0.1
PyMsgBox==1.0.9
pyparsing==3.0.9
pypdf==3.14.0
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-magic==0.4.27
python-pptx==0.6.20
python3-xlib==0.15
pytweening==1.0.7
pytz @ file:///work/ci_py311/pytz_1676825004346/work
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
referencing==0.30.0
regex==2023.8.8
replicate==0.11.0
requests==2.31.0
rich==13.4.2
rpds-py==0.9.2
s3fs==2023.4.0
s3transfer==0.6.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
soupsieve==2.4.1
SQLAlchemy==2.0.20
st-annotated-text==4.0.0
st-files-connection @ git+https://github.com/streamlit/files-connection@c65a9f0da856207086540baee3a36346bb39c0eb
streamlit==1.25.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-elements==0.1.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-option-menu==0.3.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tabulate==0.9.0
tenacity==8.2.2
tiktoken==0.4.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
unstructured==0.10.0
urllib3==1.26.16
validators==0.20.0
watchdog==3.0.0
Werkzeug==2.3.6
wikipedia==1.4.0
wrapt==1.15.0
XlsxWriter==3.1.2
yarl==1.9.2
zipp==3.16.2
